<!DOCTYPE html>
<html lang="en">
<head>
  <title>Video Marketing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" if false %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet" media="screen" type="text/css">
  <%= javascript_include_tag "application" if false %>
  <%= javascript_include_tag 'jwplayer/jwplayer.js', :media => 'screen' %>
  <%= javascript_include_tag 'jwplayer/jwplayer.html5.js', :media => 'screen' %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

